<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @election_precinct_number.title %>
</p>


<%= link_to 'Edit', edit_election_precinct_number_path(@election_precinct_number) %> |
<%= link_to 'Back', election_precinct_numbers_path %>
