<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @violation_type.title %>
</p>


<%= link_to 'Edit', edit_violation_type_path(@violation_type) %> |
<%= link_to 'Back', violation_types_path %>
