<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @election_district_name.title %>
</p>


<%= link_to 'Edit', edit_election_district_name_path(@election_district_name) %> |
<%= link_to 'Back', election_district_names_path %>
