<div class="row">
	<div class="span9">

    <div class="clear">
      <%= link_to 'New Complaint', new_complaint_path %>
    </div>
    <div class="clear">
      <%= link_to 'View Complaints', complaints_path %>
    </div>
    <div class="clear">
      <% if @latest_complaint %>
         <%= link_to 'Latest Complaint', complaint_path(@latest_complaint) %>
      <% end %>
    </div>

	</div>


	<div class="span3">



	</div>
</div>
