.file_attachments .controls .left {
  display: block;
  float: left;
}

.file_attachments .controls .right {
  display: block;
  float: right;
}

h3.form-header {
  border-bottom: 1px solid  #D8D8D8;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.after_level_select h4 {
  padding: 2px 5px 2px 9px;
  background: #eee;
  color: #000;
}

.form-horizontal .control-label {
  width: 300px;
  margin-right: 25px;
  text-align: left;
}


#index_summaries {
  border-bottom: 1px solid #eee;
  background: #DFDFDF;
  padding: 10px 0px;
  margin-bottom: 20px;
}

#index_summaries > div {
  margin-left: 15px;
}

#index_summaries > div > span {
  display: block;
}

#index_summaries .total {
  padding-top: 5px;
}

#index_summaries .total span {
  display: inline-block;
}

#index_summaries .total .amount {
  color: #006DCC;
}
