// Place all the styles related to the DECForms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dl-show-dec dt {
   width: 900px !important;
}

.dec-sub {
   margin-left: 20px;
}

#dec_form .form-horizontal .controls {
	margin-left: 10px;
}
