// Place all the styles related to the PECForms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form_table { 
   width: 100%;
}

.form_table td {
   border: 1px solid #000;
}

.number_field, .text_area {
   margin-top: 10px;
}


input[type=radio] {
   margin-top: 10px;
}

label.radio_label {
   width: 30px;
   margin: 0;   
   padding-left: 20px;
   margin-top: -17px;
}


